<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Home Page</h1>
    <h3>
        <%= 3*3 %>
    </h3>
    <h5>
        <%= 'hello world!'.toUpperCase() %>
    </h5>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum rem dicta ea. Explicabo quae ea nisi laudantium odit excepturi dolores quam commodi necessitatibus voluptas odio nam eveniet, itaque debitis ex!</p>
</body>
</html>